<ul>
     <li *ngFor="let product of getProducts().products">
     {{product.title}} <br>
     {{product.price}} <br>
     {{product.description}} <br>
     <img src="{{product.image}}" alt="Flowers in Chania"/>
     </li>
</ul>
